<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>OrderIn – Order Confirmation</title>
</head>
<body style="padding:0;margin:0;background-color:#f9f9f9">
<table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
    <tr>
        <td width="600" height="80" style="background-color:#991e01;padding-left:20px"><a href="home.html" target="_blank"><img src="../assets/images/logos/logo-orderin-208x50.png" width="208" height="50" alt="OrderIn" style="border:0;display:block" /></a></td>
    </tr>
    <tr>
        <td style="padding:30px 20px 0 20px">
            <table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
                <tr>
                    <td style="padding-bottom:10px;font-family:Arial,sans-serif;font-size:24px;color:#000">Hi Dinesh</td>
                </tr>
                <tr>
                    <td style="font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c">Thank you! Your order has been successfully placed with OrderIn.</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:20px 0"><hr style="border:0;background-color:#ececec;height:1px;margin:0 20px" /></td>
    </tr>
    <tr>
        <td style="padding:0 20px">
            <table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
                <tr>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#000" width="160">Order ID:</td>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#d92b00;font-weight:bold" width="400">#4475758</td>
                </tr>
                <tr>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#000" width="160">Pickup or Delivery:</td>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c" width="400">Delivery</td>
                </tr>
                <tr>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#000" width="160">Restaurant:</td>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c" width="400">Col’cacchio Pizzeria</td>
                </tr>
                <tr>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#000" width="160">Order Total:</td>
                    <td style="padding-bottom:5px;font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c" width="400">R 168.00</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:15px 0 20px 0"><hr style="border:0;background-color:#ececec;height:1px;margin:0 20px" /></td>
    </tr>
    <tr>
        <td style="padding:0 20px;font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c">Your order will be ready for <span style="font-family:Arial,sans-serif;font-size:16px;color:#d92b00;font-weight:bold">Delivery</span> at <span style="font-family:Arial,sans-serif;font-size:16px;color:#d92b00;font-weight:bold">8:15 PM</span></td>
    </tr>
    <tr>
        <td style="padding:20px 0 20px 0"><hr style="border:0;background-color:#ececec;height:1px;margin:0 20px" /></td>
    </tr>
    <tr>
        <td style="padding:0 20px">
            <table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
                <tr>
                    <td style="padding-bottom:15px;font-family:Arial,sans-serif;font-size:24px;color:#000">
                        <img style="border:0;display:block" src="../assets/images/email/promo-codes-header-560x52.png" width="560" height="50" border="0" alt="Share OrderIn and Earn Credit!" />
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:15px;font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c">Share your promo code with your friends to give them <strong>R20 OrderIn credit</strong> to use on their first order. You’ll get <strong>R20 OrderIn credit</strong> every time someone uses your promo code!</td>
                </tr>
                <tr>
                    <td style="padding-bottom:15px;font-family:Arial,sans-serif;font-size:16px;color:#000;font-weight:bold">Your promo code:</td>
                </tr>
                <tr>
                    <td style="background-color:#ececec;border-radius:2px;padding:18px;text-align:center">
                        <table border="0" cellpadding="0" cellspacing="0" align="center">
                            <tr>
                                <td style="font-family:Arial,sans-serif;font-size:36px;color:#a72101;font-weight:bold;text-align:center">AJK 008</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:12px">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" title="Share my code on Facebook">
                            <img style="border:0;display:block" src="../assets/images/email/share-facebook-560x52.png" width="560" height="52" border="0" alt="Share my code on Facebook" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:12px">
                        <a href="https://twitter.com/intent/tweet?text=&url=&via=OrderInSA" target="_blank" title="Share my code on Twitter">
                            <img style="border:0;display:block" src="../assets/images/email/share-twitter-560x52.png" width="560" height="52" border="0" alt="Share my code on Twitter" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:12px">
                        <a href="mailto:?subject=My Promoter Code for OrderIn" target="_blank" title="Share my code via Email">
                            <img style="border:0;display:block" src="../assets/images/email/share-email-560x52.png" width="560" height="52" border="0" alt="Share my code via Email" />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:20px 0 20px 0"><hr style="border:0;background-color:#ececec;height:1px;margin:0 20px" /></td>
    </tr>
    <tr>
        <td style="padding:0 20px 0 20px">
            <table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
                <tr>
                    <td style="font-family:Arial,sans-serif;font-size:16px;color:#000;font-weight:bold">Any questions?</td>
                </tr>
                <tr>
                    <td style="font-family:Arial,sans-serif;font-size:16px;color:#5c5c5c;padding-top:16px">Email or phone our customer service staff using the details below:</td>
                </tr>
                <tr>
                    <td style="padding:20px 0 15px 0">
                        <table border="0" cellpadding="0" cellspacing="0" width="560" align="center">
                            <tr>
                                <td width="19" style="padding:0 10px 15px 0"><img src="../assets/images/email/icon-email-19x15.png" width="19" height="15" alt="Email" style="display:block" /></td>
                                <td width="531" style="padding:0 10px 15px 0"><a href="mailto:customerservice@orderin.co.za" style="font-family:Arial,sans-serif;font-size:16px;color:#d92b00;text-decoration:none">customerservice@orderin.co.za</a></td>
                            </tr>
                            <tr>
                                <td width="19" style="padding:0 10px 5px 0"><img src="../assets/images/email/icon-phone-19x15.png" width="19" height="15" alt="Email" style="display:block" /></td>
                                <td width="531" style="padding:0 10px 5px 0"><a href="tel:+27212011155" style="font-family:Arial,sans-serif;font-size:16px;color:#d92b00;text-decoration:none">+27 21 201 1155</a><span style="color:#bbb;font-family:Arial,sans-serif;font-size:13px">&nbsp;(9 AM – 10 PM)</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:16px 0 0 0"><hr style="border:0;background-color:#ececec;height:5px;margin:0" /></td>
    </tr>
    <tr>
        <td style="background-color:#f4f4f4">
            <table border="0" cellpadding="0" cellspacing="0" width="600" align="center">
                <tr>
                    <td width="388" style="padding:29px 0 30px 20px;font-family:Arial,sans-serif;font-size:12px;color:#5c5c5c">&copy; Copyright OrderIn (Pty) Ltd. All rights reserved.</td>
                    <td width="192">
                        <table border="0" cellpadding="0" cellspacing="0" width="110" align="left">
                            <tr>
                                <td style="padding:0 10px 0 0"><a href="https://www.facebook.com/orderin.za" title="Follow us on Facebook" target="_blank"><img src="../assets/images/email/icon-facebook-38x38.png" width="38" height="38" alt="Facebook" style="display:block;border:0" /></a></td>
                                <td style="padding:0 10px 0 0"><a href="https://twitter.com/OrderInSA" title="Follow us on Twitter" target="_blank"><img src="../assets/images/email/icon-twitter-38x38.png" width="38" height="38" alt="Twitter" style="display:block;border:0" /></a></td>
                                <td style="padding:0 10px 0 0"><a href="http://www.pinterest.com/order_in/" title="Follow us on Pinterest" target="_blank"><img src="../assets/images/email/icon-pinterest-38x38.png" width="38" height="38" alt="Pinterest" style="display:block;border:0" /></a></td>
                                <td style="padding:0 10px 0 0"><a href="http://instagram.com/orderin_sa" title="Follow us on Instagram" target="_blank"><img src="../assets/images/email/icon-instagram-38x38.png" width="38" height="38" alt="Instagram" style="display:block;border:0" /></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
