<!doctype html>
<html lang="en" class="sg-html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Templates – OrderIn</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700" />

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../assets/css/style.css?v=2.1.2" />
    <link rel="stylesheet" href="../assets/css/styleguide.css?v=2.1.2" />

    <!--[if lt IE 9]>
    <script src="../assets/js/vendor/polyfills.js"></script>
    <![endif]-->
</head>
<body data-controller="site">
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="sg-header sg-header--primary" role="banner">
        <a href="../index.html" title="OrderIn" class="logo"><img src="../assets/images/logos/logo-orderin-208x50.png" width="208" height="50" alt="OrderIn Logo" /></a>

        <nav class="sg-nav sg-nav--primary" role="navigation">
            <ol class="sg-list">
                <li><a href="../elements.html">Elements</a></li>
                <li><a href="../patterns.html">Patterns</a></li>
                <li><a href="../forms.html">Forms</a></li>
                <li><a href="../grid.html">Grid</a></li>
                <li class="is-active"><a href="../templates">Templates</a></li>
            </ol>
        </nav>

        <button class="sg-btn sg-btn--nav" data-sg-toggle="nav"><span class="icon icon--left fa fa-bars" aria-hidden="true"></span>Menu</button>
    </header>

    <main class="sg-main sg-main--full" role="main">
        <section class="sg-section">
            <header class="sg-header sg-header--section">
                <h3 class="epsilon hN"><a href="../index.html"><span class="icon icon--left fa fa-reply" aria-hidden="true"></span></a>Table of Contents</h3>
            </header>

            <ol class="sg-list sg-list--templates">
                <li>
                    Home
                    <ol class="sg-list">
                        <li><a href="home.html">Default</a></li>
                        <li><a href="home-saved-addresses.html">Saved Addresses</a></li>
                        <li><a href="home-select-address.html">Select Your Address</a></li>
                    </ol>
                </li>
                <li><a href="results.html">Search Results</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="menu-customise.html">Menu Customise</a></li>
                <li><a href="cart.html">Cart</a></li>
                <li>
                    Checkout
                    <ol class="sg-list">
                        <li><a href="checkout.html">Default</a></li>
                        <li><a href="checkout-saved-credit-card.html">Saved Credit Card</a></li>
                    </ol>
                </li>
                <li><a href="sign-in.html">Sign In</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="sign-in-or-register.html">Sign In or Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
                <li><a href="update-password.html">Update Password</a></li>
                <li><a href="order-confirmation.html">Order Confirmation</a></li>
                <li>
                    Sign Up
                    <ol class="sg-list">
                        <li><a href="sign-up-corporate.html">Corporate</a></li>
                        <li><a href="sign-up-restaurant.html">Restaurant</a></li>
                    </ol>
                </li>
                <li><a href="email.html">Email</a></li>
                <li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
                <li>
                    My Account
                    <ol class="sg-list">
                        <li><a href="account/profile.html">My Profile</a></li>
                        <li><a href="account/manage-email-address.html">Manage Email Address</a></li>
                        <li><a href="account/manage-contact-number.html">Manage Contact Number</a></li>
                        <li><a href="account/manage-credit-card.html">Manage Credit Card</a></li>
                        <li><a href="account/orders.html">My Orders</a></li>
                        <li><a href="account/address-book.html">Address Book</a></li>
                        <li><a href="account/manage-address.html">Manage Address</a></li>
                        <li><a href="account/manage-allocations.html">Manage Allocations</a></li>
                        <li><a href="account/top-up-account.html">Top Up Account</a></li>
                    </ol>
                </li>
                <li>
                    Corporate
                    <ol class="sg-list">
                        <li><a href="corporate/corporate-home.html">Home</a></li>
                        <li><a href="corporate/corporate-results.html">Search Results</a></li>
                        <li><a href="corporate/corporate-menu.html">Menu</a></li>
                        <li><a href="corporate/corporate-menu-customise.html">Menu Customise</a></li>
                        <li><a href="corporate/corporate-cart.html">Cart</a></li>
                        <li>
                            Checkout
                            <ol class="sg-list">
                                <li><a href="corporate/corporate-checkout.html">Checkout</a></li>
                                <li><a href="corporate/corporate-checkout-client-code.html">Client Code Assigned</a></li>
                                <li><a href="corporate/corporate-checkout-insufficient-funds.html">Insufficient Funds</a></li>
                                <li><a href="corporate/corporate-checkout-participants.html">Participants</a></li>
                                <li><a href="corporate/corporate-checkout-insufficient-participants.html">Insufficient Participants</a></li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    Restaurants
                    <ol class="sg-list">
                        <li>
                            Home
                            <ol class="sg-list">
                                <li><a href="restaurants/col-cacchio-home.html">Col’Cacchio</a></li>
                                <li><a href="restaurants/simply-asia-home.html">Simply Asia</a></li>
                            </ol>
                        </li>
                        <li><a href="restaurants/col-cacchio-results.html">Results</a></li>
                        <li>
                            Menu
                            <ol class="sg-list">
                                <li><a href="restaurants/col-cacchio-menu.html">Disabled</a></li>
                                <li><a href="restaurants/col-cacchio-menu-delivery.html">Delivery</a></li>
                                <li><a href="restaurants/col-cacchio-menu-pickup.html">Pickup</a></li>
                            </ol>
                        </li>
                        <li><a href="restaurants/col-cacchio-menu-customise.html">Menu Customise</a></li>
                        <li><a href="restaurants/col-cacchio-cart.html">Cart</a></li>
                        <li><a href="restaurants/col-cacchio-checkout.html">Checkout</a></li>
                        <li><a href="restaurants/col-cacchio-order-confirmation.html">Order Confirmation</a></li>
                    </ol>
                </li>
                <li>
                    Categories
                    <ol class="sg-list">
                        <li><a href="categories/category-cuisine.html">Cuisine</a></li>
                        <li><a href="categories/category-cuisine-city.html">Cuisine & City</a></li>
                        <li><a href="categories/category-city.html">City</a></li>
                        <li><a href="categories/category-city-suburb.html">City & Suburb</a></li>
                    </ol>
                </li>
                <li>
                    Errors
                    <ol class="sg-list">
                        <li><a href="../404.html">404</a></li>
                        <li><a href="../500.html">500</a></li>
                    </ol>
                </li>
            </ol>
        </section>
    </main>

    <footer class="sg-footer sg-footer--full" role="contentinfo">
        <ol class="sg-list">
            <li><b>Version</b>: 2.1.2</li>
            <li><b>Last Modified</b>: <span data-sg-last-modified="true">21 September, 2015</span></li>
        </ol>
    </footer>

    <!-- JavaScript -->
    <script src="../assets/js/script.js?v=2.1.2"></script>
    <script src="../assets/js/styleguide/plugins.js?v=2.1.2"></script>
    <script src="../assets/js/styleguide/styleguide.js?v=2.1.2"></script>
    <script>UTIL.init();</script>
    <script>STYLEGUIDE_UTIL.init();</script>
</body>
</html>
