/* InForm: http://themaninblue.com/experiment/InForm/ @themaninblue */

/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Margin Form
 */

.margin-form {
    clear: both;
}

.margin-form fieldset {
    border: 0 solid #fff;
    border-top: 1px solid #c0c0c0;
    display: block;
    margin: 0 0 1em 0;
    padding: 0 1em 1em 1em;
}

.margin-form input {
    display: block;
    left: 8em;
    position: relative;
    top: -1.4em;
}

.margin-form input.submit {
    clear: both;
    top: 0;
}

.margin-form fieldset label:first-of-type {
    margin-top: 1em;
}

.margin-form label {
    clear: both;
    display: block;
    float: left;
    margin-top: -0.5em;
    width: 8em;
}

.margin-form select {
    display: block;
    left: 8em;
    position: relative;
    top: -1.4em;
}

/*
 * Columnar Form
 */

.columnar-form {
    clear: both;
}

.columnar-form fieldset {
    float: left;
    display: block;
    width: 17em;
    margin: 0 1em 1em 0;
    padding: 0 1em 1em 1em;
}

.columnar-form input {
    display: block;
}

.columnar-form label {
    display: block;
    margin-bottom: 1em;
}

.columnar-form fieldset label:first-of-type {
    padding-top: 1em;
}

.columnar-form select {
    display: block;
}

/*
 * Vertical Form
 */

.vertical-form {
    clear: both;
}

.vertical-form fieldset {
    display: block;
    margin: 0 0 3em 0;
    padding: 0 1em 1em 1em;
    width: 17em;
}

.vertical-form input {
    display: block;
}

.vertical-form label {
    display: block;
    margin-bottom: 1em;
}

.vertical-form fieldset label:first-of-type {
    padding-top: 1em;
}

.vertical-form select {
    display: block;
}

/*
 * Inputs, Selects, Text Areas
 */

input, select, textarea {
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:focus, select:focus, textarea:focus {
    outline: 0;
}

/*
 * Buttons
 */

input[type="button"],
input[type="submit"] {
    cursor: pointer;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 2px;
    padding: 5px 14px 6px;
}

input[type="submit"]:hover {
    color: #333;
    text-decoration: none;
}

input[type="submit"]:focus {
    outline: 1px dotted #666;
}