/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */
/**
 * GENERIC
 * BASE
 * OBJECTS
 */
/* -------------------------------------------------------------------------- *\
   $GENERIC
\* -------------------------------------------------------------------------- */
/**
 * MIXINS
 */
/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */
/**
 * CLEARFIX
 */
/* -------------------------------------------------------------------------- *\
   $CLEARFIX
\* -------------------------------------------------------------------------- */
/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/**
 * RESET
 */
/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */
/**
 * NORMALIZE
 * DEFAULTS
 */
/* -------------------------------------------------------------------------- *\
   $NORMALIZE
\* -------------------------------------------------------------------------- */
/* Normalize.css | 3.0.1 | https://github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* -------------------------------------------------------------------------- *\
   $DEFAULTS
\* -------------------------------------------------------------------------- */
/**
 * Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/**
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/**
 * VARIABLES
 */
/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */
/**
 * BREAKPOINTS
 * COLORS
 * FONTS
 * .....Family
 * .....Size
 * .....Weight
 */
/* -------------------------------------------------------------------------- *\
   $BREAKPOINTS
\* -------------------------------------------------------------------------- */
/* 30 * 16 =  480px */
/* 40 * 16 =  640px */
/* 48 x 16 =  768px */
/* 64 x 16 = 1024px */
/* 75 x 16 = 1200px */
/* 90 x 16 = 1440px */
/* -------------------------------------------------------------------------- *\
   $COLORS
\* -------------------------------------------------------------------------- */
/**
 * Primary
 */
/**
 * Secondary
 */
/**
 * Social
 */
/* -------------------------------------------------------------------------- *\
   $FONTS
\* -------------------------------------------------------------------------- */
/* ==========================================================================
   $Family
   ========================================================================== */
/* ==========================================================================
   $Size
   ========================================================================== */
/**
 * Base
 */
/**
 * Headings
 */
/* ==========================================================================
   $Weight
   ========================================================================== */
/* -------------------------------------------------------------------------- *\
   $VENDOR
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
   Modal | 3.3.4 | http://getbootstrap.com/javascript/#modals
\* -------------------------------------------------------------------------- */
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 48em) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 64em) {
  .modal-lg {
    width: 900px;
  }
}
/* -------------------------------------------------------------------------- *\
   $BASE
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
   $BASE
\* -------------------------------------------------------------------------- */
/**
 * Apply a natural box layout model to all elements
 */
*,
:before,
:after {
  box-sizing: border-box;
}
/**
 * HTML
 */
html {
  background-color: #ffffff;
  color: #222222;
  font: 100%/1.5 "Lato", sans-serif;
  height: 100%;
}
/**
 * Body
 */
body {
  height: 100%;
  overflow-y: scroll;
}
/**
 * Browse Happy
 */
.browsehappy {
  background-color: #dddddd;
  margin: 0;
  padding: 0.5em 0.75em;
}
/* -------------------------------------------------------------------------- *\
   $FORMS
\* -------------------------------------------------------------------------- */
.form.form--inline {
  position: relative;
  width: 100%;
}
.form.form--inline:before,
.form.form--inline:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.form.form--inline:after {
  clear: both;
}
.form.form--inline .input {
  width: 100%;
}
.form.form--inline .input.input--transparent {
  border-right: 0;
}
.form.form--inline .btn {
  position: absolute;
  right: 0;
  top: 0;
}
.form.form--inline .btn:active {
  top: 0;
}
@media all and (min-width: 40em) {
  .form.form--inline {
    margin-right: auto;
    margin-left: auto;
    max-width: 25em;
    /* 400 / 16 */
  }
}
@media all and (min-width: 48em) {
  .form.form--inline {
    margin-right: 0;
    margin-left: 0;
  }
}
/* ==========================================================================
   $Label
   ========================================================================== */
.label {
  color: #222222;
  display: block;
  margin-bottom: 0.375em;
}
.label:last-child {
  margin-bottom: 0;
}
.label .input {
  margin-right: 0.375em;
}
/* ==========================================================================
   $Input
   ========================================================================== */
input[type="password"].input,
input[type="text"].input {
  border: 0;
  border-radius: 2px;
  height: 2.8125em;
  /* 45 / 16 */
  padding: 0.25em 0.75em 0.375em 0.75em;
  transition: border-color 0.25s;
}
input[type="password"].input.input--transparent,
input[type="text"].input.input--transparent {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
  color: #555555;
}
input[type="password"].input.input--transparent:focus,
input[type="text"].input.input--transparent:focus,
input[type="password"].input.input--transparent:hover,
input[type="text"].input.input--transparent:hover {
  border-color: #ffffff;
  color: #222222;
  outline: 0;
}
input[type="password"].input.input--transparent::-webkit-input-placeholder,
input[type="text"].input.input--transparent::-webkit-input-placeholder {
  color: #555555;
}
input[type="password"].input.input--transparent::-moz-placeholder,
input[type="text"].input.input--transparent::-moz-placeholder {
  color: #555555;
}
input[type="password"].input.input--transparent:-ms-input-placeholder,
input[type="text"].input.input--transparent:-ms-input-placeholder {
  color: #555555;
}
/* -------------------------------------------------------------------------- *\
   $GRID
\* -------------------------------------------------------------------------- */
.row {
  margin-bottom: 2%;
  overflow: hidden;
}
.row .col {
  margin-bottom: 2%;
  width: 100%;
}
.row .col:last-child {
  margin-bottom: 0;
}
@media all and (min-width: 48em) {
  .row .col {
    float: left;
    margin-bottom: 0;
    margin-left: 2%;
    /* Content first on narrow screens; right on wider screens */
    /* 1/6 */
    /* 1/5 */
    /* 1/4 */
    /* 1/3 */
    /* 2/5 */
    /* 1/2 */
    /* 3/4 */
    /* 3/5 */
    /* 4/5 */
    /* 5/6 */
    /* 2/3 */
  }
  .row .col:first-child {
    margin-left: 0;
  }
  .row .col.flow-opposite {
    float: right;
  }
  .row .col.col-1-6 {
    width: 15%;
  }
  .row .col.col-1-5 {
    width: 18.4%;
  }
  .row .col.col-1-4 {
    width: 23.5%;
  }
  .row .col.col-1-3 {
    width: 32%;
  }
  .row .col.col-2-5 {
    width: 38.8%;
  }
  .row .col.col-1-2 {
    width: 49%;
  }
  .row .col.col-3-4 {
    width: 74.5%;
  }
  .row .col.col-3-5 {
    width: 59.2%;
  }
  .row .col.col-4-5 {
    width: 79.6%;
  }
  .row .col.col-5-6 {
    width: 83%;
  }
  .row .col.col-2-3 {
    width: 66%;
  }
}
/* -------------------------------------------------------------------------- *\
   $HEADINGS
\* -------------------------------------------------------------------------- */
h1,
.alpha {
  font-size: 48px;
  /* 1 */
  font-size: 3em;
  /* 2 */
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
}
h2,
.beta {
  font-size: 36px;
  /* 1 */
  font-size: 2.25em;
  /* 2 */
  line-height: 1.33333333;
  margin-top: 0;
  margin-bottom: 1em;
}
h3,
.gamma {
  font-size: 24px;
  /* 1 */
  font-size: 1.5em;
  /* 2 */
  line-height: 1;
  margin-top: 0;
  margin-bottom: 1em;
}
h4,
.delta {
  font-size: 21px;
  /* 1 */
  font-size: 1.3125em;
  /* 2 */
  line-height: 1.14285714;
  margin-top: 0;
  margin-bottom: 1em;
}
h5,
.epsilon {
  font-size: 18px;
  /* 1 */
  font-size: 1.125em;
  /* 2 */
  line-height: 1.33333333;
  margin-top: 0;
  margin-bottom: 1em;
}
h6,
.zeta {
  font-size: 16px;
  /* 1 */
  font-size: 1em;
  /* 2 */
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1em;
}
/**
 * 1. Specify the `font-size` in pixels as per the value passed in.
 * 2. Calculate the `font-size` in ems based on the value in pixels.
 */
/**
 * Set the `line-height` to a multiple of @base-line-height
 * that is not smaller than @font-size, as per:
 * http://jsfiddle.net/redclover/mkYtY/
 */
/**
 * HELPERS
 */
/* -------------------------------------------------------------------------- *\
   $TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */
/**
 * CLEARFIX
 * COLORS
 * DISPLAY
 * .....Hidden
 * .....Invisible
 * .....Media Queries
 * EMBED
 * FLOATS
 * FONT
 * .....Family
 * .....Weight
 * TEXT
 */
/* -------------------------------------------------------------------------- *\
   $CLEARFIX
\* -------------------------------------------------------------------------- */
/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* -------------------------------------------------------------------------- *\
   $COLORS
\* -------------------------------------------------------------------------- */
/**
 * Background
 */
.bg-primary-dark {
  background-color: #2fb593;
}
.bg-primary {
  background-color: #48cfad;
}
.bg-primary-light {
  background-color: #70dabf;
}
.bg-black {
  background-color: #222222;
}
.bg-gray-dark {
  background-color: #555555;
}
.bg-gray {
  background-color: #aaaaaa;
}
.bg-silver {
  background-color: #dddddd;
}
.bg-white-dark {
  background-color: #f6f6f6;
}
.bg-white {
  background-color: #ffffff;
}
.bg-facebook {
  background-color: #3b5998;
}
.bg-google-plus {
  background-color: #dd4b39;
}
.bg-twitter {
  background-color: #55acee;
}
/**
 * Foreground
 */
.primary-dark {
  color: #2fb593;
}
.primary {
  color: #48cfad;
}
.primary-light {
  color: #70dabf;
}
.black {
  color: #222222;
}
.gray-dark {
  color: #555555;
}
.gray {
  color: #aaaaaa;
}
.silver {
  color: #dddddd;
}
.white-dark {
  color: #f6f6f6;
}
.white {
  color: #ffffff;
}
.facebook {
  color: #3b5998;
}
.google-plus {
  color: #dd4b39;
}
.twitter {
  color: #55acee;
}
/* -------------------------------------------------------------------------- *\
   $DISPLAY
\* -------------------------------------------------------------------------- */
/* ==========================================================================
   $Hidden
   ========================================================================== */
/**
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/**
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/**
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* ==========================================================================
   $Invisible
   ========================================================================== */
/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/* ==========================================================================
   $Media Queries
   ========================================================================== */
/**
 * Small Screens
 */
@media all and (max-width: 48em) {
  .hide-small {
    display: none !important;
    visibility: hidden !important;
  }
}
/**
 * Medium Screens
 */
@media all and (min-width: 48em) and (max-width: 75em) {
  .hide-medium {
    display: none !important;
    visibility: hidden !important;
  }
}
/**
 * Large Screens
 */
@media all and (min-width: 75em) {
  .hide-large {
    display: none !important;
    visibility: hidden !important;
  }
}
/* -------------------------------------------------------------------------- *\
   $EMBED
\* -------------------------------------------------------------------------- */
/**
 * Embed Responsively, as per: http://embedresponsively.com
 */
.fluid-embed {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.fluid-embed embed,
.fluid-embed iframe,
.fluid-embed object {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* -------------------------------------------------------------------------- *\
   $FLOATS
\* -------------------------------------------------------------------------- */
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
/* -------------------------------------------------------------------------- *\
   $FONT
\* -------------------------------------------------------------------------- */
/* ==========================================================================
   $Family
   ========================================================================== */
.font-secondary {
  font-family: "Raleway", sans-serif;
}
/* ==========================================================================
   $Weight
   ========================================================================== */
.weight-bold {
  font-weight: 700;
}
.weight-semi-bold {
  font-weight: 600;
}
.weight-normal {
  font-weight: 400;
}
/* -------------------------------------------------------------------------- *\
   $TEXT
\* -------------------------------------------------------------------------- */
/* ==========================================================================
   $Align
   ========================================================================== */
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
/* ==========================================================================
   $Transform
   ========================================================================== */
.transform-uppercase {
  text-transform: uppercase;
}
.transform-lowercase {
  text-transform: lowercase;
}
.transform-capitalize {
  text-transform: capitalize;
}
/* -------------------------------------------------------------------------- *\
   $LINKS
\* -------------------------------------------------------------------------- */
a {
  text-decoration: underline;
  transition: color 0.25s;
}
p a {
  color: #2fb593;
}
p a:focus,
p a:hover {
  color: #48cfad;
}
/* -------------------------------------------------------------------------- *\
   $LISTS
\* -------------------------------------------------------------------------- */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------------------------------- *\
   $PARAGRAPHS
\* -------------------------------------------------------------------------- */
p {
  margin-top: 0;
}
p.small {
  font-size: 0.875em;
  /* 14 / 16 */
}
p.large {
  font-size: 1.25em;
  /* 20 / 16 */
}
p a {
  color: #555555;
  transition: color 0.25s;
}
p a:focus,
p a:hover {
  color: #222222;
}
/* -------------------------------------------------------------------------- *\
   $PRINT
\* -------------------------------------------------------------------------- */
@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /**
     * Don't show links for images, or JavaScript/internal links
     */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* -------------------------------------------------------------------------- *\
   $TABLE
\* -------------------------------------------------------------------------- */
.table {
  width: 100%;
}
.table thead {
  border-bottom: 2px solid #f6f6f6;
}
.table thead th {
  color: #555555;
  text-align: left;
  padding: 0.5em 1em;
}
.table thead th b {
  color: #222222;
  font-size: 1.125em;
  /* 18 / 16 */
}
.table tbody td {
  padding: 0.5em 1em;
}
.table tbody td.no-wrap {
  white-space: nowrap;
}
.table tfoot {
  border-top: 1px solid #f6f6f6;
  border-bottom: 2px solid #f6f6f6;
}
.table tfoot td {
  padding: 0.5em 1em;
}
.table.table--col-4 th {
  width: 25%;
}
.table + .table {
  margin-top: 2em;
}
/* -------------------------------------------------------------------------- *\
   $OBJECTS
\* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- *\
   $ACTIONS
\* -------------------------------------------------------------------------- */
.actions {
  transition: max-height 0.25s, opacity 0.25s;
}
.actions:before,
.actions:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.actions:after {
  clear: both;
}
.actions .action {
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  margin-right: 0.3125em;
  position: relative;
}
.actions .action:last-of-type {
  margin-right: 0;
}
.actions .action__link {
  color: #555555;
  display: inline-block;
  font-size: 1.125em;
  /* 18 / 16 */
  height: 2.25em;
  /* 36 / 16 */
  line-height: 2.25;
  position: relative;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;
  width: 2.25em;
  /* 36 / 16 */
  z-index: 20;
}
.actions .action__link:focus,
.actions .action__link:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #222222;
}
.actions .action__link.is-active {
  background-color: #ffffff;
  color: #222222;
}
.action-toolbar {
  bottom: 2.5em;
  left: 0;
  opacity: 1;
  position: absolute;
  transition: max-height 0.25s, opacity 0.25s;
  z-index: 30;
}
.action-toolbar.is-hidden {
  opacity: 0;
  overflow: hidden;
}
.action-toolbar .action-toolbar__link {
  background-color: rgba(255, 255, 255, 0.75);
  color: #555555;
  display: block;
  font-size: 1.125em;
  /* 18 / 16 */
  height: 2.25em;
  /* 36 / 16 */
  line-height: 2.25;
  margin-bottom: 0.25em;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;
  width: 2.25em;
  /* 36 / 16 */
}
.action-toolbar .action-toolbar__link:focus,
.action-toolbar .action-toolbar__link:hover {
  background-color: #ffffff;
  color: #222222;
}
.action-toolbar.action-toolbar--collections {
  bottom: 2.8125em;
  left: auto;
  right: 0;
}
.action-toolbar.action-toolbar--collections .form {
  background-color: #ffffff;
  height: 10em;
  overflow-y: auto;
  padding: 0.5em 0.75em;
  width: 15em;
}
/* -------------------------------------------------------------------------- *\
   $BUTTONS
\* -------------------------------------------------------------------------- */
.btn {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #aaaaaa;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 2.8125em;
  /* 45 / 16 */
  line-height: normal;
  padding: 0.8125em 1em 0.6875em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s, top 0.25s;
  vertical-align: middle;
  white-space: nowrap;
}
.btn:active {
  outline: 0;
  position: relative;
  top: 1px;
}
.btn:focus,
.btn:hover {
  color: #222222;
  outline: 0;
}
.btn.btn--black {
  background-color: #222222;
  color: #ffffff;
}
.btn.btn--black:focus,
.btn.btn--black:hover {
  background-color: #555555;
  color: #ffffff;
}
.btn.btn--menu {
  border-color: #aaaaaa;
  height: 2.5625em;
  /* 41 / 16 */
  padding: 0.625em 0.75em;
}
.btn.btn--menu:focus,
.btn.btn--menu:hover {
  border-color: #222222;
}
.btn.btn--menu .icon {
  margin-right: 0.25em;
}
.btn.btn--small {
  font-size: 0.75em;
  /* 12 / 16 */
  height: 2.5em;
  /* 45 / 16 */
  padding: 0.625em 0.875em;
}
.btn.btn--transparent {
  background-color: rgba(255, 255, 255, 0.25);
  color: #ffffff;
}
.btn.btn--transparent:focus,
.btn.btn--transparent:hover {
  border-color: #ffffff;
}
.btn-group .btn {
  display: block;
}
.btn-group .btn + .btn {
  margin-top: 1em;
}
@media all and (min-width: 40em) {
  .btn-group .btn {
    display: inline-block;
  }
  .btn-group .btn + .btn {
    margin-top: 0;
    margin-left: 1em;
  }
}
/* -------------------------------------------------------------------------- *\
   $CART
\* -------------------------------------------------------------------------- */
.cart {
  box-shadow: inset 0 0 4px #dddddd;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  /**
     * Title
     */
  /**
     * Table
     */
}
.cart:before,
.cart:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cart:after {
  clear: both;
}
.cart .cart__title {
  font-size: 1.125em;
  /* 18 / 16 */
}
.cart .cart__table {
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-y: hidden;
  overflow-x: auto;
}
@media all and (min-width: 40em) {
  .cart {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .cart .cart__title {
    font-size: 1.25em;
    /* 20 / 16 */
  }
  .cart .btn-group {
    float: right;
  }
}
/* -------------------------------------------------------------------------- *\
   $FILTERS
\* -------------------------------------------------------------------------- */
.filters {
  text-align: center;
}
.filters .list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filters .list li {
  margin-bottom: 0.25em;
}
.filters .list li:last-child {
  margin-bottom: 0;
}
.filters .is-active a {
  color: #222222;
}
.filters a {
  color: #aaaaaa;
  text-decoration: none;
  transition: color 0.25s;
}
.filters a:focus,
.filters a:hover {
  color: #222222;
}
@media all and (min-width: 40em) {
  .filters {
    text-align: left;
  }
  .filters .list:before,
  .filters .list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .filters .list:after {
    clear: both;
  }
  .filters .list li {
    float: left;
    margin-bottom: 0;
    margin-left: 1em;
  }
  .filters .list li:first-child {
    margin-left: 0;
  }
}
/* -------------------------------------------------------------------------- *\
   $FOOTER
\* -------------------------------------------------------------------------- */
.footer.footer--primary {
  clear: both;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}
.footer.footer--primary .l-wrapper {
  padding-top: 4em;
  padding-bottom: 4em;
}
.footer.footer--primary .logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 7em;
  /* 112 / 16 */
}
.footer.footer--primary .logo img {
  display: block;
  height: auto;
  width: 100%;
}
/* -------------------------------------------------------------------------- *\
   $GALLERY
\* -------------------------------------------------------------------------- */
.gallery.gallery--hero {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 3em 1em;
  position: relative;
  text-align: center;
  width: 100%;
}
.gallery.gallery--hero .gallery__title {
  color: #ffffff;
  text-shadow: 1px 1px 1px #555555;
}
.gallery.gallery--hero .gallery__date {
  color: #dddddd;
  text-shadow: 1px 1px 1px #555555;
}
.gallery.gallery--hero .gallery__description {
  color: #dddddd;
  text-shadow: 1px 1px 1px #555555;
}
.gallery.gallery--hero .gallery__btn {
  margin-bottom: 2em;
}
.gallery.gallery--hero .gallery-about .gallery-about__logo {
  display: none;
}
.gallery.gallery--details {
  text-align: center;
}
.gallery.gallery--details .gallery__title {
  font-size: 1.125em;
  /* 18 / 16 */
  margin-bottom: 0.125em;
}
.gallery.gallery--details .gallery__description {
  color: #555555;
  font-size: 0.875em;
  /* 14 / 16 */
  margin-bottom: 0;
}
.gallery.gallery--details .gallery__date {
  color: #555555;
  font-size: 0.875em;
  /* 14 / 16 */
  margin-bottom: 0;
}
.gallery .gallery__title {
  font-size: 1.375em;
  /* 22 / 16 */
  margin-bottom: 0.75em;
}
.gallery .gallery__title.gallery__title--small {
  font-size: 1.25em;
  /* 20 / 16 */
}
.gallery .gallery__date {
  display: block;
  font-size: 1.125em;
  /* 18 / 16 */
  margin-bottom: 0.125em;
}
.gallery .gallery__description {
  color: #555555;
  margin-top: 0;
  margin-bottom: 1.75em;
}
.gallery .gallery__link {
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.gallery .gallery__link:focus .gallery__img,
.gallery .gallery__link:hover .gallery__img {
  transform: scale(1.1);
}
.gallery .gallery__link:focus .gallery-caption,
.gallery .gallery__link:hover .gallery-caption {
  max-height: 4.125em;
  /* 66 / 16 */
}
.gallery .gallery__link .gallery__img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  transition: all 0.25s;
}
.gallery .gallery__link .gallery__icon {
  background-color: rgba(255, 255, 255, 0.25);
  color: #222222;
  font-size: 1.375em;
  /* 20 / 16 */
  opacity: 0.5;
  padding: 0.125em 0.25em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.gallery .gallery__link .gallery-caption {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  left: 0;
  max-height: 2.375em;
  overflow: hidden;
  padding-left: 1em;
  position: absolute;
  transition: max-height 0.25s;
  width: 100%;
}
.gallery .gallery__link .gallery-caption .gallery-caption__title {
  color: #222222;
  font-family: "Raleway", sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
.gallery .gallery__link .gallery-caption .gallery-caption__description {
  color: #555555;
  font-size: 0.875em;
  /* 14 / 16 */
  padding-bottom: 0.875em;
}
@media all and (min-width: 40em) {
  .gallery.gallery--details {
    text-align: left;
  }
  .gallery.gallery--details .gallery__title {
    font-size: 1.25em;
    /* 20 / 16 */
  }
}
@media all and (min-width: 48em) {
  .gallery.gallery--hero {
    text-align: left;
    padding-top: 6%;
    padding-left: 6%;
  }
  .gallery .gallery__title {
    font-size: 3em;
    /* 48 / 16 */
    margin-bottom: 0.25em;
  }
  .gallery .gallery__title.gallery__title--small {
    font-size: 2em;
    /* 32 / 16 */
  }
  .gallery .gallery__date {
    font-size: 1.375em;
    /* 22 / 16 */
  }
  .gallery .gallery__description {
    font-size: 1.125em;
    /* 18 / 16 */
  }
}
@media all and (min-height: 30em) {
  .gallery.gallery--hero .gallery__btn {
    margin-bottom: 0;
  }
  .gallery.gallery--hero .gallery-about {
    bottom: 6%;
    left: 6%;
    position: absolute;
  }
  .gallery.gallery--hero .gallery-about:before,
  .gallery.gallery--hero .gallery-about:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .gallery.gallery--hero .gallery-about:after {
    clear: both;
  }
  .gallery.gallery--hero .gallery-about .gallery-about__logo {
    background-color: #ffffff;
    border-radius: 2px;
    float: left;
    margin-right: 1.375em;
    opacity: 0.8;
    padding: 0.25em;
    transition: opacity 0.25s;
    width: 5em;
    /* 80 / 16 */
  }
  .gallery.gallery--hero .gallery-about .gallery-about__logo:focus,
  .gallery.gallery--hero .gallery-about .gallery-about__logo:hover {
    opacity: 1;
  }
  .gallery.gallery--hero .gallery-about .gallery-about__logo img {
    display: block;
    height: auto;
    width: 100%;
  }
  .gallery.gallery--hero .gallery-about .gallery-about__btn {
    float: left;
    margin-top: 2em;
    transition: background-color 0.25s, border-color 0.25s, color 0.25s, opacity 0.25s, top 0.25s;
  }
}
@media all and (min-width: 75em) {
  .gallery.gallery--hero .gallery-about:focus .gallery-about__btn,
  .gallery.gallery--hero .gallery-about:hover .gallery-about__btn {
    opacity: 1;
  }
  .gallery.gallery--hero .gallery-about .gallery-about__btn {
    opacity: 0;
  }
}
/* ==========================================================================
   $List
   ========================================================================== */
.gallery-list .gallery {
  padding-bottom: 1em;
}
@media all and (min-width: 40em) {
  .gallery-list {
    margin-bottom: 1em;
  }
  .gallery-list:before,
  .gallery-list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .gallery-list:after {
    clear: both;
  }
  .gallery-list .gallery {
    float: left;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: 50%;
  }
}
@media all and (min-width: 64em) {
  .gallery-list .gallery {
    float: left;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: 33.333%;
  }
}
/* -------------------------------------------------------------------------- *\
   $HEADER
\* -------------------------------------------------------------------------- */
.header {
  background-color: #ffffff;
  box-shadow: 0 0 4px #dddddd;
}
.header:before,
.header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.header:after {
  clear: both;
}
.header.header--primary {
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
  padding: 1em;
  position: relative;
}
.header.header--primary .logo {
  display: block;
  float: right;
  height: 6em;
  /* 96 / 16 */
  margin-right: auto;
  margin-left: auto;
  width: 6em;
  /* 96 / 16 */
}
.header.header--primary .logo img {
  display: block;
  height: auto;
  width: 100%;
}
.header.header--primary .btn {
  left: 0;
  position: absolute;
  top: 2.75em;
}
.header.header--gallery {
  padding: 0.5em;
  width: 100%;
}
.header.header--gallery .logo {
  display: inline-block;
  height: 3em;
  margin-bottom: 1em;
  padding: 0.125em;
  width: 3em;
}
.header.header--gallery .logo img {
  display: block;
  height: auto;
  width: 100%;
}
.header.header--gallery .filters {
  margin-top: 1.125em;
  margin-bottom: 0.5em;
}
.header.header--gallery .btn {
  position: absolute;
  right: 0.5em;
  top: 0.6875em;
}
.header .logo {
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 0 4px #dddddd;
  overflow: hidden;
  padding: 0.25em;
}
@media all and (min-width: 40em) {
  .header.header--primary .logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  .header.header--gallery {
    padding: 0.75em;
  }
  .header.header--gallery:before,
  .header.header--gallery:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .header.header--gallery:after {
    clear: both;
  }
  .header.header--gallery .logo {
    float: left;
    height: 4em;
    margin-bottom: 0;
    padding: 0.25em;
    width: 4em;
  }
  .header.header--gallery .gallery {
    float: left;
    margin-left: 0.75em;
  }
  .header.header--gallery .filters {
    clear: both;
    margin-bottom: 0;
    padding-top: 1.125em;
  }
  .header.is-fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}
@media all and (min-width: 75em) {
  .header.header--gallery .nav {
    float: right;
    margin-top: 1.125em;
  }
  .header.header--gallery .filters {
    clear: none;
    float: left;
    margin-left: 2em;
    padding-top: 0;
  }
  .header.header--gallery .btn {
    display: none;
    visibility: hidden;
  }
}
/* -------------------------------------------------------------------------- *\
   $LAYOUT
\* -------------------------------------------------------------------------- */
.l-main.l-main--background {
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
}
.l-main.l-main--centered {
  overflow: hidden;
}
.l-main.l-main--gallery {
  padding-top: 0.3125em;
}
@media all and (min-width: 40em) {
  .l-main.l-main--gallery {
    padding-top: 8.5625em;
    /* 137 / 16 */
  }
}
@media all and (min-width: 75em) {
  .l-main.l-main--gallery {
    padding-top: 6em;
    /* 96 / 16 */
  }
}
.l-wrapper {
  clear: both;
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
  /* 1200 / 16 */
  position: relative;
  width: 90%;
}
/* -------------------------------------------------------------------------- *\
   $LIGHTBOX
\* -------------------------------------------------------------------------- */
.lightbox {
  /**
     * Main
     */
  /**
     * Aside
     */
  /**
     * Image
     */
  /**
     * Controls
     */
  /**
     * Actions
     */
  /**
     * Active
     */
}
.lightbox .lightbox__main {
  height: 100%;
  position: relative;
}
.lightbox .lightbox__aside {
  background-color: #ffffff;
  display: none;
}
.lightbox .lightbox__img {
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.lightbox .lightbox__controls {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  line-height: normal;
  padding: 0.25em 0.875em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  transform: translateY(-75%);
  transition: background-color 0.25s;
  vertical-align: middle;
  white-space: nowrap;
  /**
         * Icon
         */
  /**
         * Previous
         */
  /**
         * Next
         */
}
.lightbox .lightbox__controls:focus,
.lightbox .lightbox__controls:hover {
  background-color: rgba(255, 255, 255, 0.75);
  outline: 0;
}
.lightbox .lightbox__controls .icon {
  color: #222222;
  font-size: 2em;
  /* 32 / 16 */
}
.lightbox .lightbox__controls.lightbox__controls--prev {
  left: 5%;
}
.lightbox .lightbox__controls.lightbox__controls--next {
  right: 5%;
}
.lightbox .lightbox__actions {
  text-align: center;
}
.lightbox .lightbox__actions .actions {
  display: inline-block;
  margin-top: 0.3125em;
}
.lightbox.is-active .lightbox__aside {
  display: block;
}
@media all and (min-width: 48em) {
  .lightbox {
    height: 100%;
  }
  .lightbox .lightbox__main {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .lightbox .lightbox__img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .lightbox .lightbox__controls {
    transform: translateY(-50%);
  }
  .lightbox .lightbox__actions {
    bottom: 1.125em;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    right: 0;
  }
  .lightbox .lightbox__actions .actions {
    margin-top: 0;
  }
}
@media all and (min-width: 75em) {
  .lightbox .lightbox__controls {
    padding-right: 1.125em;
    padding-left: 1.125em;
  }
  .lightbox .lightbox__controls .icon {
    font-size: 3em;
    /* 48 / 16 */
  }
  .lightbox .lightbox__controls.lightbox__controls--prev {
    left: 8%;
  }
  .lightbox .lightbox__controls.lightbox__controls--next {
    right: 8%;
  }
  .lightbox.is-active:before,
  .lightbox.is-active:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .lightbox.is-active:after {
    clear: both;
  }
  .lightbox.is-active .lightbox__main {
    float: left;
    width: 70%;
  }
  .lightbox.is-active .lightbox__aside {
    box-shadow: inset 0 0 4px #dddddd;
    float: left;
    height: 100%;
    width: 30%;
  }
}
/* -------------------------------------------------------------------------- *\
   $MEDIA
\* -------------------------------------------------------------------------- */
/**
 * Place any image and text content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 * E.g.:
 *
   <div class="media">
       <img class="media__img" src="" alt="" />
       <p class="media__body"></p>
   </div>
 *
 */
.media:before,
.media:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.media:after {
  clear: both;
}
.media .media__img {
  float: left;
  margin-right: 1em;
  /* Reverse image placement (right instead of left) */
}
.media .media__img.media__img--rev {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
.media .media__img img {
  display: block;
}
.media .media__body {
  overflow: hidden;
}
/* -------------------------------------------------------------------------- *\
   $MODAL
\* -------------------------------------------------------------------------- */
/**
 * Backdrop
 */
.modal-backdrop.in {
  filter: alpha(opacity=75);
  opacity: 0.75;
}
/**
 * Dialog
 */
.modal-dialog {
  margin: 0;
}
/**
 * Content
 */
.modal-content {
  border: 0;
  border-radius: 0;
}
/**
 * Header
 */
.modal-header {
  background-color: #ffffff;
  border-bottom: 0;
  box-shadow: 0 0 4px #dddddd;
  padding: 1em;
  position: relative;
  z-index: 1;
  /**
     * Title
     */
  /**
     * Close
     */
}
.modal-header .modal-title {
  font-size: 1.125em;
  /* 18 / 16 */
  text-align: center;
}
.modal-header .modal-close {
  background-color: transparent;
  border: 0;
  color: #dddddd;
  font-size: 1.25em;
  /* 20 / 16 */
  position: absolute;
  right: 0.5em;
  top: 0.5625em;
  transition: color 0.25s;
}
.modal-header .modal-close:focus,
.modal-header .modal-close:hover {
  color: #222222;
  outline: 0;
}
/**
 * Body
 */
.modal-body {
  height: calc(100% - 3.75em);
  padding: 0;
}
/**
 * Footer
 */
.modal-footer {
  border: 0;
}
@media all and (min-width: 40em) {
  .modal-header .modal-title {
    font-size: 1.25em;
    /* 20 / 16 */
  }
  .modal-header .modal-close {
    top: 0.625em;
  }
}
@media (min-width: 48em) {
  .modal-dialog {
    height: 100%;
    width: 100%;
  }
  .modal-dialog.modal-sm {
    margin: 2em auto;
    max-width: 18.75em;
    /* 300 / 16 */
  }
  .modal-dialog.modal-sm .modal-content {
    height: auto;
  }
  .modal-content {
    height: 100%;
  }
}
/* -------------------------------------------------------------------------- *\
   $NAVIGATION
\* -------------------------------------------------------------------------- */
.nav.nav--primary {
  clear: both;
  display: none;
  padding-top: 1em;
  width: 100%;
}
.nav.nav--primary.is-open {
  display: block;
}
.nav.nav--primary .list {
  background-color: #f6f6f6;
  box-shadow: inset 0 0 12px #dddddd;
  padding: 1em;
}
.nav.nav--primary .list li {
  border-bottom: 2px solid #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /**
                 * Drop-down
                 */
}
.nav.nav--primary .list li:first-child {
  padding-top: 0;
}
.nav.nav--primary .list li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.nav.nav--primary .list li.is-active a {
  color: #222222;
}
.nav.nav--primary .list li.is-active a .icon {
  color: #222222;
}
.nav.nav--primary .list li a {
  color: #aaaaaa;
  display: block;
  text-decoration: none;
  transition: color 0.25s;
}
.nav.nav--primary .list li a:focus,
.nav.nav--primary .list li a:hover {
  color: #222222;
}
.nav.nav--primary .list li a:focus .icon,
.nav.nav--primary .list li a:hover .icon {
  color: #222222;
}
.nav.nav--primary .list li a .icon {
  color: #dddddd;
  display: inline-block;
  margin-right: 0.5em;
  transition: color 0.25s;
}
.nav.nav--primary .list li .list {
  box-shadow: none;
  display: none;
  margin-top: 0.5em;
  margin-left: 0.5625em;
}
.nav.nav--primary .list li .list.is-active {
  display: block;
}
@media all and (min-width: 75em) {
  .nav.nav--primary {
    clear: none;
    display: block;
    margin-bottom: 0;
    padding-top: 0;
    width: auto;
  }
  .nav.nav--primary .list {
    background-color: #ffffff;
    box-shadow: none;
    padding: 0;
  }
  .nav.nav--primary .list:before,
  .nav.nav--primary .list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .nav.nav--primary .list:after {
    clear: both;
  }
  .nav.nav--primary .list li {
    border-bottom: 0;
    border-left: 1px solid #dddddd;
    float: left;
    margin-left: 1em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    position: relative;
  }
  .nav.nav--primary .list li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .nav.nav--primary .list li .list {
    background-color: #ffffff;
    box-shadow: 0 0 4px #dddddd;
    left: 0;
    margin-top: 1em;
    margin-left: 0;
    padding: 1em;
    position: absolute;
    top: 100%;
    white-space: nowrap;
    z-index: 100;
  }
  .nav.nav--primary .list li .list li {
    border-left: 0;
    float: none;
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 0;
  }
  .nav.nav--primary .list li .list li:last-child {
    margin-bottom: 0;
  }
}
/* -------------------------------------------------------------------------- *\
   $PHOTO
\* -------------------------------------------------------------------------- */
.photo {
  display: inline-block;
  overflow: hidden;
  padding: 0.3125em;
  position: relative;
}
@media all and (min-width: 40em) {
  .photo {
    width: 50%;
  }
}
@media all and (min-width: 48em) {
  .photo {
    width: 33.333%;
  }
}
@media all and (min-width: 64em) {
  .photo {
    width: 25%;
  }
}
@media all and (min-width: 75em) {
  .photo {
    width: 20%;
  }
}
.photo:focus .photo-caption,
.photo:hover .photo-caption {
  opacity: 1;
}
.photo:focus .photo__actions,
.photo:hover .photo__actions {
  max-height: 6em;
  opacity: 1;
}
.photo .photo__link {
  display: block;
}
.photo .photo__link:focus,
.photo .photo__link:hover {
  outline: 0;
}
.photo .photo__img {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.photo .photo-caption {
  background-color: rgba(255, 255, 255, 0.75);
  left: 0.3125em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0.3125em;
  top: 0.3125em;
  transition: max-height 0.25s, opacity 0.25s;
}
.photo .photo-caption .photo-caption__title {
  color: #222222;
  display: block;
  font-size: 0.875em;
  /* 14 / 16 */
  font-weight: 400;
  padding: 0.5em 0.5em 0.75em 0.5em;
  text-align: center;
}
.photo .photo__actions {
  bottom: 0.625em;
  position: absolute;
  right: 0.625em;
}
.photo .photo__actions.is-visible {
  opacity: 1;
}
.photos {
  margin-right: 0.25em;
  margin-bottom: 0.3125em;
  margin-left: 0.25em;
}
@media all and (min-width: 40em) {
  .photos {
    margin-right: 0.3125em;
    margin-left: 0.3125em;
  }
}
/* -------------------------------------------------------------------------- *\
   $PRODUCTS
\* -------------------------------------------------------------------------- */
.products {
  padding: 1em;
  /**
     * Synopsis
     */
  /**
     * Tables
     */
  /**
     * Button Group
     */
}
.products .products__synopsis {
  font-weight: 700;
  margin-bottom: 1.5em;
}
.products .products__tables {
  overflow-y: hidden;
  overflow-x: auto;
}
.products .btn-group {
  margin-top: 1.5em;
  text-align: right;
}
@media all and (min-width: 40em) {
  .products .products__tables {
    border-bottom: 2px solid #f6f6f6;
  }
}
@media all and (min-width: 64em) {
  .products {
    padding: 1.5em;
  }
}
/* -------------------------------------------------------------------------- *\
   $PROFESSIONALS
\* -------------------------------------------------------------------------- */
.professionals:before,
.professionals:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.professionals:after {
  clear: both;
}
.professional .professional__title {
  font-size: 1.125em;
  /* 18 / 16 */
  font-weight: 700;
  margin-bottom: 0.5em;
}
.professional .professional__synopsis:before,
.professional .professional__synopsis:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.professional .professional__synopsis:after {
  clear: both;
}
.professional .professional__synopsis img {
  float: left;
  margin-right: 1em;
}
.professional .list {
  margin-bottom: 1em;
}
.professional .list:before,
.professional .list:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.professional .list:after {
  clear: both;
}
.professional .list li {
  float: left;
  margin-right: 0.125em;
}
.professional .list li:last-child {
  margin-right: 0;
}
.professional .list li a {
  background-color: #f6f6f6;
  color: #aaaaaa;
  font-size: 1.125em;
  /* 18 / 16 */
  display: block;
  height: 2.25em;
  /* 36 / 16 */
  padding-top: 0.375em;
  text-align: center;
  transition: background-color 0.25s, color 0.25s;
  width: 2.25em;
  /* 36 / 16 */
}
.professional .list li a:focus,
.professional .list li a:hover {
  background-color: #222222;
  color: #ffffff;
}
.profession-list {
  display: none;
}
@media all and (min-width: 48em) {
  .profession-list {
    background-color: #f6f6f6;
    box-shadow: inset 0 0 4px #dddddd;
    display: block;
    float: left;
    margin-bottom: 2em;
    padding: 1em 1em 0.375em 1em;
    width: 28%;
  }
  .profession-list .profession {
    margin-bottom: 1.25em;
  }
  .profession-list .profession:last-of-type {
    margin-bottom: 0.625em;
  }
  .profession-list .profession .profession__title {
    border-bottom: 2px solid #dddddd;
    color: #222222;
    font-weight: 700;
    margin-bottom: 0.125em;
    padding-bottom: 0.125em;
  }
  .profession-list .profession .list li {
    margin-bottom: 0.125em;
  }
  .profession-list .profession .list a {
    border-radius: 1px;
    color: #aaaaaa;
    display: block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    transition: background-color 0.25s, color 0.25s;
  }
  .profession-list .profession .list a.is-current,
  .profession-list .profession .list a:focus,
  .profession-list .profession .list a:hover {
    background-color: #222222;
    color: #ffffff;
  }
  .professional {
    float: left;
    padding-left: 3em;
    width: 72%;
  }
  .professional .professional__title {
    font-size: 1.5em;
    /* 24 / 16 */
  }
}
@media all and (min-width: 88em) {
  .professionals {
    margin-right: 0;
    margin-left: 0;
  }
}
